/* Services.module.css */
.Services {
    text-align: center;
    padding: 20px;
}

.serviceContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    background-color: grey;
    padding: 40px;
}

.serviceCard {
    width: calc(20% - 10px); /* Adjust the width to fit five cards with some spacing */
    margin: 1px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
}

.serviceCard:hover {
    transform: scale(1.05);
}

.serviceCard h6 {
    margin-bottom: 10px;
}

.viewAllLink {
    position: absolute;
    top: 10px;
    right: 10px;
}

.viewAllLink a {
    text-decoration: none; /* Remove underlining for anchor element */
    cursor: pointer;
    color: blue;
}

.viewAllLink a:hover {
    text-decoration: underline; /* Add underlining on hover */
}

/* Responsive styles for small screens */
@media (max-width: 767px) {
    .serviceCard {
        width: calc(50% - 10px); /* Adjust the width to fit two cards on smaller screens */
    }

    .viewAllLink {
        top: 70px; /* Adjust the top value for mobile responsiveness */
    }
}
