/* Footer.module.css */
.footer {
    background-color: #383c8e;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  
  .copy {
    font-size: 14px;
    margin: 0;
  }
  
  /* Adjust the styles of FontAwesome icons */
  .social a svg {
    transition: color 0.3s ease-in-out;
  }
  
  .social a:hover svg {
    color: #007bff;
  }
  